body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    background-color: black;
}

/* Header and navigation bar */

img {
    width: 200px;
    height: 200px;
    padding-top: 20px;
    border-radius: 50%;
}

h1 {
    padding-bottom: 10px;
}

h2 {
    border-bottom: 5px ridge lightblue;
}

a {
    padding: 10px;
    color: white;
    text-decoration: none;
}

a:hover {
    color: lightblue;
}

#header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    padding: 10px 25px;
    border-bottom: 10px ridge lightblue;
    background-color: rgb(52, 80, 202);
}

#header h1 {
    padding-left: 20px;
    font-size: 40px;
}

#navbar {
    justify-content: space-between;
}

/* Projects */

h1 {
    text-align: center;
}

.description {
    width: 50%;
    text-align: center;
}

.previews {
    width: 50%;
    text-align: center;
}

#projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px 10px;
}

#projects img {
    width: 350px;
    border-radius: 0%;
}

/* Contact Information */

#contact {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    border-top: 5px ridge lightblue;
}

/* About me */

#aboutme {
    padding: 10px 150px;
    border-bottom: 5px ridge lightblue;
}

@media screen and (max-width: 768px) {
    img {
        padding-bottom: 25px;
    }

    .description {
        width: 100%;
    }

    #aboutme {
        width: 100%;
        padding: 0px;
        text-align: center;
        
    }

    #projects {
        flex-direction: column;
        align-items: center;
    }

    #header {
        flex-direction: column;
        align-items: center;
        padding-bottom: 20px;
    }
}